API_URL: 'http://app.ongair.im/api/v1/base/send'
API_IMAGE_URL: 'http://app.ongair.im/api/v1/base/send_image'
API_VCARD_URL: 'http://app.ongair.im/api/v1/base/send_contact'
TOKEN: '889e574a6234107f244218decbf99560'
BEGIN: 'Dial-A-Delivery'
START: 'PIZZA'
SIZE_MEDIUM: 800
SIZE_SMALL: 600
SIZE_LARGE: 1000
WELCOME_MESSAGE: 'Hallo Thank you for choosing Dial-a-Delivery'
OUTLET_MESSAGE: 'Your nearest Dial-A-Delivery location near is'
NO_OUTLET_MESSAGE: 'Sorry we do not yet have an outlet near'
NO_SURBURB_MESSAGE: "Sorry Please share your location via WhatsApp"
WAIT_FOR_A_MESSAGE: "Please wait to receive a message before proceeding"

