BASE_URL: 'https://dialadelivery.herokuapp.com'
API_URL: 'http://app.ongair.im/api/v1/base'
TOKEN: '889e574a6234107f244218decbf99560'
BEGIN: 'Dial-A-Delivery'
START: 'PIZZA'
SIZE_MEDIUM: 'MEDIUM'
SIZE_REGULAR: 'REGULAR'
SIZE_LARGE: 'LARGE'